

<ion-tabs *ngIf="_us.id_usuario == null || _us.id_usuario != '75012728'" color="dark">

  <ion-tab tabIcon="home" tabTitle="Inicio" [root]="tab1"></ion-tab>
  <ion-tab tabIcon="add" tabTitle="Incidencia" [root]="tab2"></ion-tab>
  <ion-tab tabIcon="pin" tabTitle="Mapa" [root]="tab3"></ion-tab>
  <ion-tab tabIcon="ios-trash-outline" tabTitle="Reciclaje" [root]="tab4"></ion-tab>
  <!-- <ion-tab tabIcon="ios-list-box-outline" tabTitle="Historial" [root]="tab4"></ion-tab> -->


</ion-tabs>

<ion-tabs *ngIf="_us.id_usuario == '75012728'" color="dark">

  <ion-tab tabIcon="home" tabTitle="Inicio" [root]="tab1"></ion-tab>
  <ion-tab tabIcon="md-clipboard" tabTitle="Reportes" [root]="tab5"></ion-tab>
  <ion-tab tabIcon="md-construct" tabTitle="Mantenimiento" [root]="tab6"></ion-tab>


</ion-tabs>
