
<ion-header>

  <ion-navbar color="dark">

      <ion-buttons start>
          <button ion-button icon-only
                  *ngIf="_us.inactivo()"
                  (click)="_cs.ver_login()">
            <ion-icon name="contact"></ion-icon>
          </button>
        </ion-buttons>
    
    
        <ion-buttons start>
          <button ion-button icon-only
                  *ngIf="_us.activo()">
            {{ _us.usuario }} <ion-icon name="contact"></ion-icon>
          </button>
          <button ion-button icon-only
                  *ngIf="_us.activo()"
                  (click)="_us.cerrar_sesion()">
            <ion-icon name="log-out"></ion-icon>
          </button>
        </ion-buttons>

    <ion-title>Mapa</ion-title>
    <ion-buttons end>

        <button ion-button icon-only
                (click)="_cs.ver_incidencia(vmapa, _us.id_usuario)"
                [navPush]="estacionamiento">
          <ion-icon name="md-list-box"></ion-icon>
        </button>
  
        &nbsp;
        &nbsp;
  
      </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content id="ga" [attr.noScroll]="shouldScroll">
  <div id="map"></div>
</ion-content>
