page-detalle-reciclaje {
    .button-block {
        width: 40%;
        margin-left: 102px;
        background-color: #488aff;
    }

    #registrarse {
        width: 50%;
        margin-left: 73px;
    }

    .carrito_vacio{
        position: relative;
        top: 30%;
        font-size: 20px;
      }
      
      .icon-5x{
        font-size: 100px;
      }
}
