page-residuos {
    ion-img{
        min-width: 35px;
        min-height: 35px;
    }
    ion-label{
        display: contents;
    }
    .button-block {
        width: 40%;
        margin-left: 102px;
        background-color: #488aff;
    }

    #registrarse {
        width: 50%;
        margin-left: 71px;
    }
}
