<ion-header>

  <ion-navbar color="dark">

    <ion-buttons left>
      <button icon-only ion-button
              (click)="viewCtrl.dismiss()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title *ngIf="_us.ventana==false">Publicar Incidencia</ion-title>
    <ion-title *ngIf="_us.ventana==true">Reciclar</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list radio-group [(ngModel)]="_cs.id_residuo">
    <ion-list-header>
      Selecciona el tipo de residuo
    </ion-list-header>

     <!-- <button ion-item
                *ngFor="let estacionamiento of _cs.estacionamientos"
                [navPush]="estacionamientoDetalle"
                [navParams]="{ estacionamiento: estacionamiento }"
                >
    
          <ion-icon name="ios-arrow-forward"></ion-icon>
            {{ estacionamiento.nombre }}
        </button> -->
    
    <div *ngIf="_us.ventana==false">
      <ion-item *ngFor="let residuo of _cs.residuos">
        <ion-label><img src={{residuo.img}} alt=""/>   {{residuo.tipo}}</ion-label>
        <ion-radio *ngIf="residuo.id=='1'" checked="true"  value={{residuo.id}} (click)="_cs.ver_volumen()"></ion-radio>
        <ion-radio *ngIf="residuo.id!='1'" value={{residuo.id}} (click)="_cs.ver_volumen()"></ion-radio>
      </ion-item>
    </div>
    
    <ion-item *ngIf="_us.ventana==true">
      <ion-label><img src="../../assets/imgs/Iconos/TipoResiduo/plastico.png" alt="">   Plásticos</ion-label>
      <ion-radio checked="true" value="6" (click)="abrirModal()"></ion-radio>
    </ion-item>
    
    <ion-item *ngIf="_us.ventana==true">
      <ion-label><img src="../../assets/imgs/Iconos/TipoResiduo/carton.png" alt="">   Cartón</ion-label>
      <ion-radio value="11" (click)="abrirModal()"></ion-radio>
    </ion-item>
    
    <ion-item *ngIf="_us.ventana==true">
      <ion-label><img src="../../assets/imgs/Iconos/TipoResiduo/vidrio.png" alt="">   Vidrios</ion-label>
      <ion-radio value="10" (click)="abrirModal()"></ion-radio>
    </ion-item>

    <ion-item *ngIf="_us.ventana==true">
      <ion-label><img src="../../assets/imgs/Iconos/TipoResiduo/papel.png" alt="">   Papel blanco</ion-label>
      <ion-radio value="12" (click)="abrirModal()"></ion-radio>
    </ion-item>

    <ion-item *ngIf="_us.ventana==true">
      <ion-label><img src="../../assets/imgs/Iconos/TipoResiduo/pila.png" alt="">   Baterías/Pilas</ion-label>
      <ion-radio value="5" (click)="abrirModal()"></ion-radio>
    </ion-item>

    <br><br>

    <button *ngIf="_us.ventana==true" id="registrarse" ion-button block color="primary" 
    (click)="_cs.ver_agregar_reciclaje1()"
    >
    Continuar
    </button>

  </ion-list>

</ion-content>
