page-agregar-reciclaje {
    .button-block {
        width: 40%;
        margin-left: 102px;
        background-color: #488aff;
    }

    #registrarse {
        width: 50%;
        margin-left: 71px;
    }
}
