<ion-header>

  <ion-navbar color="dark">

    <ion-buttons left>
      <button icon-only ion-button
              (click)="viewCtrl.dismiss()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Mi Reciclaje</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
  <h4 *ngIf="residuo">Tipo: {{residuo.tipo}}  <img src={{residuo.img}} alt=""/></h4>
  <h4 *ngIf="residuo">Precio x kg: S/. {{residuo.precio}}</h4>
  <h4 *ngIf="residuo">Subtotal: </h4>

</ion-content>
