<ion-header>

  <ion-navbar color="dark">

    <ion-buttons left>
      <button icon-only ion-button
              (click)="viewCtrl.dismiss()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Mi Reciclaje</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="reciclaje.length!=0">
  <ion-card *ngFor="let item of reciclaje">
    <ion-item color="primary">
        <ion-label style="font-weight: bold">{{item.tipo}}   <ion-img src={{item.img}} alt=""></ion-img></ion-label>
    </ion-item>

    <ion-card-content color="primary">
        <br>
        <!-- <h4 *ngIf="residuo">Tipo: {{residuo.tipo}}  <ion-img src={{residuo.img}} alt=""></ion-img></h4> -->
        <h4>Precio x kg: S/. {{item.precio}}</h4>
        <h4>Cantidad: {{item.cantidad}} Kg</h4>
        <h4 style="font-weight: bold">Subtotal: {{item.subtotal}}</h4>
    </ion-card-content>
  </ion-card>
  </div>

  <ion-card>
    <ion-item color="primary">
      <ion-label *ngIf="residuo" style="font-weight: bold">{{residuo.tipo}}   <ion-img src={{residuo.img}} alt=""></ion-img></ion-label>
    </ion-item>

    <ion-card-content color="primary">
      <br>
      <!-- <h4 *ngIf="residuo">Tipo: {{residuo.tipo}}  <ion-img src={{residuo.img}} alt=""></ion-img></h4> -->
      <h4 *ngIf="residuo">Precio x kg: S/. {{residuo.precio}}</h4>
      <h4 *ngIf="residuo">Cantidad: {{_cs.cantidad}} Kg</h4>
      <h4 *ngIf="residuo" style="font-weight: bold">Subtotal: {{subtotal}}</h4>
    </ion-card-content>
  </ion-card>

  <br><br>

  <h3 style="font-weight: bold; text-align:center">Total: S/. {{total}}</h3>

  <br><br>

  <button id="registrarse" ion-button block 
          (click)="agregarReciclaje()"
          >
    Agregar
  </button>

  <br><br>

</ion-content>
