<ion-header>

  <ion-navbar color="dark">

    <ion-buttons left>
      <button icon-only ion-button
              (click)="viewCtrl.dismiss()">
        <ion-icon name="arrow-round-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Mi Reciclaje</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="reciclaje.length!=0">
  <ion-card *ngFor="let item of reciclaje">
    <ion-item color="primary">
        <ion-label style="font-weight: bold">{{item.tipo}}   <ion-img src={{item.img}} alt=""></ion-img></ion-label>
    </ion-item>

    <ion-card-content color="primary">
        <br>
        <!-- <h4 *ngIf="residuo">Tipo: {{residuo.tipo}}  <ion-img src={{residuo.img}} alt=""></ion-img></h4> -->
        <h4>Precio x kg: S/. {{item.precio}}</h4>
        <h4>Cantidad: {{item.cantidad}} Kg</h4>
        <h4 style="font-weight: bold">Subtotal: {{item.subtotal}}</h4>
    </ion-card-content>
  </ion-card>
  </div>

  <ion-card *ngIf="residuo">
    <ion-item color="primary" style="background: mediumpurple;">
      <ion-label *ngIf="residuo" style="font-weight: bold">{{residuo.tipo}}   <ion-img src={{residuo.img}} alt=""></ion-img></ion-label>
    </ion-item>

    <ion-card-content color="primary">
      <br>
      <!-- <h4 *ngIf="residuo">Tipo: {{residuo.tipo}}  <ion-img src={{residuo.img}} alt=""></ion-img></h4> -->
      <h4 *ngIf="residuo">Precio x kg: S/. {{residuo.precio}}</h4>
      <h4 *ngIf="residuo">Cantidad: {{_cs.cantidad}} Kg</h4>
      <h4 *ngIf="residuo" style="font-weight: bold">Subtotal: {{subtotal}}</h4>
    </ion-card-content>
  </ion-card>

  <br><br>

  <h3 style="font-weight: bold; text-align:center">Total: S/. {{total}}</h3>

  <br><br>

  <ion-item>
    <ion-label floating>Dirección</ion-label>
    <ion-input type="text" [(ngModel)]="direccion"></ion-input>
  </ion-item>

  <br><br>

  <div>
  <button *ngIf="total !=0 && _cs.estado==true" id="registrarse" ion-button block 
          (click)="agregarReciclaje()"
          >
    Agregar
  </button>

  <button *ngIf="total ==0 || _cs.estado==false" disabled id="registrarse" ion-button block 
          (click)="agregarReciclaje()"
          >
    Agregar
  </button>

  </div>

  <br><br>

  <div>
  <button *ngIf="total !=0" id="registrarse" style="background: red;" ion-button block color="red"
          [disabled]=" direccion.length < 5 "
          (click)="registrarReciclaje()"
          >
    Registrar
  </button>

  <button *ngIf="total ==0" id="registrarse" disabled style="background: red;" ion-button block color="red" 
          (click)="registrarReciclaje()"
          >
    Registrar
  </button>
  
  
  </div>

  <br><br>

</ion-content>
